<div class="login_container">
	<div class="login_container">
		<form action="" ng-submit="login()">
			<label for="user_name">Username: </label>
			<input type="text" class="user_name block_element" id="user_name" ng-model="user.name" required/>
			
			<label for="password">Password: </label>
			<input type="password" class="password block_element" id="password" ng-model="user.pwd" required/>
			
			<a href="#" class="forgot_pwd block_element">Forgot Password?</a>
			<input type="submit" value="Login" class="login_btn"/>
		</form>
	</div>
</div>